---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

interface Props {
	pageTitle: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const image = '/favicon.ico';

const { pageTitle } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Lexiconnoisseur">
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{pageTitle} | {SITE_TITLE}</title>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={SITE_TITLE} />
<meta property="og:description" content={SITE_DESCRIPTION} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter / X -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={SITE_TITLE} />
<meta property="twitter:description" content={SITE_DESCRIPTION} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
