---
import FormattedDate from "../components/FormattedDate.astro";

// Blog post meant to be a standalone page.

type Props = {
	title: string;
	pubDate: Date;
	minutesRead: string;
	prevPost?: { slug: string; data: { title: string } };
	nextPost?: { slug: string; data: { title: string } };
};

const { title, pubDate, prevPost, nextPost } = Astro.props;
---

<article>
	<div class="prose">
		<h1>{title}</h1>
		<span><FormattedDate date={pubDate} />
		<slot />
	</div>
</article>
<hr />
<nav class="prev-next-links">
	<div>
		{prevPost && <a href={prevPost.slug}>{prevPost.data.title}</a>}
	</div>
	<div class="next-link">
		{nextPost && <a href={nextPost.slug}>{nextPost.data.title}</a>}
	</div>
</nav>

<style is:global>
	img {
		max-width: 100%;
		margin: auto;
		display: block;
	}

	h2 a {
		padding-left: 8px;
	}

	h2 .icon-link:after {
		content: "#";
	}

	.prev-next-links {
		display: flex;
	}

	.prev-next-links div {
		width: 50%;
	}

	.next-link {
		text-align: right;
	}

	article {
		position: relative;
	}

	.prose {
		position: relative;
		z-index: 1;
		margin-bottom: calc(-100vh + 6px);
	}
</style>
