---
import FormattedDate from "../components/FormattedDate.astro";
import { SPAN_SEPARATOR } from "../consts";

type Props = {
	title: string;
	pubDate: Date;
	minutesRead: string;
	prevPost?: { slug: string; data: { title: string } };
	nextPost?: { slug: string; data: { title: string } };
};

const { title, pubDate, minutesRead, prevPost, nextPost } = Astro.props;
---

<article>
	<div class="prose">
		<h1>{title}</h1>
		<span
			><FormattedDate date={pubDate} /><span>{SPAN_SEPARATOR}</span>
			<span>{minutesRead}</span></span
		>
		<slot />
	</div>
</article>
<hr />
<nav class="prev-next-links">
	<div>
		{prevPost && <a href={prevPost.slug}>{prevPost.data.title}</a>}
	</div>
	<div class="next-link">
		{nextPost && <a href={nextPost.slug}>{nextPost.data.title}</a>}
	</div>
</nav>

<style is:global>
	img {
		max-width: 100%;
		margin: auto;
		display: block;
	}

	h2 a {
		padding-left: 8px;
	}

	h2 .icon-link:after {
		content: "#";
	}

	.prev-next-links {
		display: flex;
	}

	.prev-next-links div {
		width: 50%;
	}

	.next-link {
		text-align: right;
	}

	article {
		position: relative;
	}

	article:before {
		content: "";
		display: block;
		background: linear-gradient(
			to right top,
			#40c057 50%,
			#b02525 50%
		);
		height: calc(100% - 100vh + 6px);
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	article:after {
		content: "";
		display: block;
		background-color: #222222;
		height: calc(100vh - 6px);
		width: 100%;
		position: sticky;
		bottom: 0;
		left: 0;
	}

	.prose {
		position: relative;
		z-index: 1;
		margin-bottom: calc(-100vh + 6px);
	}
</style>
