---
import FormattedDate from "../components/FormattedDate.astro";
import { SPAN_SEPARATOR } from "../consts";

type Props = {
	title: string;
	pubDate: Date;
	minutesRead: string;
	slug: string
};

const { title, pubDate, minutesRead, slug } = Astro.props;
---

<article>
	<div class="prose">
		<h1><a href={slug}>{title}</a></h1>
		<span><FormattedDate date={pubDate} /><span>{SPAN_SEPARATOR}</span> <span>{minutesRead}</span></span>
		<slot />
		<p><a href={slug}>(Continue reading...)</a></p>
	</div>
</article>

<style is:global>
	article {
	    margin-bottom: 64px;
	}

	img {
		max-width: 100%;
		margin: auto;
		display: block;
	}

	nav.toc {
		display: none;
	}
</style>
