---
import FormattedDate from "../components/FormattedDate.astro";
import { SPAN_SEPARATOR } from "../consts";

type Props = {
	title: string;
	pubDate: Date;
	minutesRead: string;
	slug?: string
};

const { title, pubDate, minutesRead, slug } = Astro.props;
---

<article>
	<div class="prose">
		{slug ? (
			<h1><a href={slug}>{title}</a></h1>
		) : (
			<h1>{title}</h1>
		)}
		<span><FormattedDate date={pubDate} /><span>{SPAN_SEPARATOR}</span> <span>{minutesRead}</span></span>
		<hr />
		<slot />
	</div>
</article>

<style is:global>
	article {
	    margin-bottom: 64px;
	}

	img {
		max-width: 100%;
		margin: auto;
		display: block;
	}

	/* https://rwt.io/typography-tips/marks-ends-and-middles-end-marks-sections-and-dead-ends */
	.prose>:last-child:after {
		content: "\2766";
		font-size: 1.5em;
		line-height: 0.5;
		display: block;
		margin-top: 12px;
		left: 0;
		position: absolute;
	}
</style>
